* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
  color: #4f4f4f;
}

/* global */
.container {
  width: 90%;
  margin: auto;
  /* overflow: hidden; */
}

.tombol {
  color: #000000;
  background-color: #f2994a;
  padding: 20px 56px;
  display: inline-block;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  box-shadow: 0px 20px 20px rgba(255, 186, 73, 0.2);
}

.tombol:hover {
  color: #ffffff;
}

.flex {
  display: flex;
}

/* header */
header {
  padding-top: 32px;
  min-height: 70px;
  color: #4f4f4f;
}

.fa {
  margin-right: 5px;
}

/* .menu-icon {
  color: #f2994a;
  float: right;
  font-size: 25px;
  padding: 10px 0;
  display: none;
} */

header a {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #4f4f4f;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 48px 0 48px;
}

.logo {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}

.logo span {
  color: #f2994a;
}

header .logo {
  float: left;
}

header .logo h3 {
  margin: 0;
}

header nav {
  float: right;
}

header a:hover {
  color: #f2994a;
  border-bottom: 3px solid #f2994a;
}

header .active a {
  color: #f2994a;
  border-bottom: 3px solid #f2994a;
}

/* hero section */
#home {
  margin-top: 140px;
  height: 748px;
}

#home h1 {
  width: 563px;
  font-weight: bold;
  font-size: 68px;
  line-height: 91px;
  margin-bottom: 40px;
  color: #333333;
}

#home p {
  width: 563px;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

#home .content-left {
  max-width: 608px;
}
/* about section */
#about {
  margin-top: 120px;
  height: 748px;
}

#about .images-left {
  margin-left: -10%;
  max-width: 800px;
}

#about h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 40px;
  color: #333333;
}

#about p {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 563px;
  margin-bottom: 40px;
}

#about .text-right {
  text-align: center;
}

/* start contact-form */

#contact-form .section-title {
  letter-spacing: 1px;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

#contact-form .order {
  text-align: center;
  padding: 30px 0px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}

#contact-form input,
textarea {
  width: 400px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #f2994a;
  border-radius: 15px;
}

#contact-form .order-submit {
  margin-top: 10px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2994a;
  color: rgb(0, 0, 0);
}

#contact-form .order-submit:hover {
  background-color: #e96f04;
  color: rgb(255, 255, 255);
  border: 1px solid #e96f04);
  font-weight: bold;
}

/* end contact-form */

/* media queri (responsive) */
@media (max-width: 1000px) {
  .flex {
    flex-wrap: wrap;
  }

  .container .flex {
    flex: auto;
  }
}

@media (max-width: 670px) {
}
